In [20]:
import pandas as pd
import datetime



def listeDates(s,f):
    D=[]
    start = s
    end = f
    date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]

    for date in date_generated:
        D.append(date.strftime("%Y-%m-%d"))
    return D


def Fonction(s,f,m):
    L=listeDates(s,f)

    #L=['2020-05-0'+str(j) for j in range(1,10)]+['2020-05-'+str(j) for j in range(10,32)]+['2020-06-0'+str(j) for j in range(1,10)]+['2020-06-'+str(j) for j in range(10,31)]+['2020-07-0'+str(j) for j in range(1,10)]+['2020-07-'+str(j) for j in range(10,15)]
    df=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    M=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    for i in L:
        base=pd.read_csv("fichier_base"+i+".csv")
        Mor=base.where(base['Country']=='Morocco').dropna()
        df=df.append(Mor,ignore_index = True)
    
    df['Date']=L
    df.to_csv("MarocStat-"+m+".csv")

    
    
    
    
def FonctionCountry(s,f,m):
    L=listeDates(s,f)

    #L=['2020-05-0'+str(j) for j in range(1,10)]+['2020-05-'+str(j) for j in range(10,32)]+['2020-06-0'+str(j) for j in range(1,10)]+['2020-06-'+str(j) for j in range(10,31)]+['2020-07-0'+str(j) for j in range(1,10)]+['2020-07-'+str(j) for j in range(10,15)]
    df=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    M=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    for i in L:
        base=pd.read_csv("fichier_base"+i+".csv")
        Mor=base.where(base['Country']==m).dropna()
        df=df.append(Mor,ignore_index = True)

    
    df['Date']=L
    df['New Recov'] = df['New Recov'].fillna(0)
    df.to_csv("CovPerCountry//csv//Stat-"+m+".csv")
    df.to_json("CovPerCountry//json//Stat-"+m+".json")
    

L=list(pd.read_csv("fichier_base2020-07-15.csv")['Country'])


s=datetime.datetime.strptime("2020-05-01", "%Y-%m-%d")
f=datetime.datetime.today()
for Country in L:
    print(Country)
    try :
        FonctionCountry(s,f,Country)
    except :
        continue

In [7]:
s=datetime.datetime.strptime("2020-07-01", "%Y-%m-%d")
f=datetime.datetime.today()
Fonction(s,f,"07")

In [3]:
import pandas as pd
df=pd.read_csv('CovPerCountry/csv/Stat-Mexico.csv')
df

,Unnamed: 0,Date,Tot cases,New cases,Tot Deaths,New Deaths,Total Recovered,Active Cases,Serious,Tot C par million,...,Total Test,Tot T par million,Country,Continent,index,population,New Recov,col1,col2,col3
0,0,2020-05-01,19224.0,1425.0,1859.0,127.0,11423.0,5942.0,378.0,149.0,...,81912.0,635.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-05-02,20739.0,1515.0,1972.0,113.0,12377.0,6390.0,378.0,161.0,...,91188.0,707.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020-05-03,22088.0,1349.0,2061.0,89.0,13447.0,6580.0,378.0,171.0,...,93791.0,727.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020-05-04,23471.0,1383.0,2154.0,93.0,13447.0,7870.0,378.0,182.0,...,93791.0,727.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020-05-05,26025.0,1120.0,2507.0,236.0,16810.0,6708.0,378.0,202.0,...,100041.0,776.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,72,2020-07-12,295268.0,6094.0,34730.0,539.0,180852.0,79686.0,378.0,2289.0,...,723668.0,5611.0,Mexico,North America,8.0,128973689.0,3755.0,437.0,3714.0,178.0
73,73,2020-07-13,299750.0,4482.0,35006.0,276.0,184764.0,79980.0,378.0,2324.0,...,728484.0,5648.0,Mexico,North America,8.0,128973689.0,3912.0,430.0,3684.0,177.0
74,74,2020-07-14,304435.0,4685.0,35491.0,485.0,189063.0,79881.0,378.0,2360.0,...,739922.0,5737.0,Mexico,North America,7.0,128977388.0,4299.0,424.0,3634.0,174.0
75,75,2020-07-15,311486.0,7051.0,36327.0,836.0,193976.0,81183.0,378.0,2415.0,...,756137.0,5862.0,Mexico,North America,7.0,128981086.0,4913.0,414.0,3551.0,171.0
76,76,2020-07-16,317635.0,6149.0,36906.0,579.0,199129.0,81600.0,378.0,2463.0,...,768457.0,5958.0,Mexico,North America,8.0,128984785.0,5153.0,406.0,3495.0,168.0

In [4]:
df.columns

Index(['Unnamed: 0', 'Date', 'Tot cases', 'New cases', 'Tot Deaths',
       'New Deaths', 'Total Recovered', 'Active Cases', 'Serious',
       'Tot C par million', 'Deaths par million', 'Total Test',
       'Tot T par million', 'Country', 'Continent', 'index', 'population',
       'New Recov', 'col1', 'col2', 'col3'],
      dtype='object')

In [12]:
df['New Recov'] = df['New Recov'].fillna(0)

In [13]:
df['New Recov']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
72    3755.0
73    3912.0
74    4299.0
75    4913.0
76    5153.0
Name: New Recov, Length: 77, dtype: float64

In [5]:
df

,Date,Tot cases,New cases,Tot Deaths,New Deaths,Total Recovered,Active Cases,Serious,Tot C par million,Deaths par million,Total Test,Tot T par million,index,Country,New Recov,population,Continent,col1,col2,col3
0,NaN,12636.0,103.0,228.0,-1.0,9026.0,3382.0,7.0,342.0,6.0,698128.0,18915.0,63.0,Morocco,106.0,36909144.0,Africa,2921.0,161882.0,53.0
1,NaN,12969.0,333.0,229.0,1.0,9090.0,3650.0,7.0,351.0,6.0,715853.0,19394.0,61.0,Morocco,64.0,36910339.0,Africa,2846.0,161181.0,52.0
2,NaN,13288.0,319.0,230.0,1.0,9160.0,3898.0,7.0,360.0,6.0,728366.0,19733.0,61.0,Morocco,70.0,36911534.0,Africa,2778.0,160485.0,51.0
3,NaN,13822.0,534.0,232.0,2.0,9329.0,4261.0,19.0,374.0,6.0,748449.0,20276.0,61.0,Morocco,169.0,36912729.0,Africa,2671.0,159107.0,49.0
4,NaN,14215.0,393.0,235.0,3.0,9725.0,4255.0,19.0,385.0,6.0,765580.0,20740.0,61.0,Morocco,396.0,36913924.0,Africa,2597.0,157081.0,48.0
5,NaN,14379.0,164.0,237.0,2.0,10173.0,3969.0,19.0,390.0,6.0,783639.0,21228.0,61.0,Morocco,448.0,36915119.0,Africa,2567.0,155760.0,47.0
6,NaN,14607.0,228.0,240.0,3.0,10639.0,3728.0,19.0,396.0,7.0,801287.0,21705.0,62.0,Morocco,466.0,36916314.0,Africa,2527.0,153818.0,46.0
7,NaN,14771.0,164.0,242.0,2.0,11316.0,3213.0,19.0,400.0,7.0,819124.0,22188.0,62.0,Morocco,677.0,36917509.0,Africa,2499.0,152552.0,45.0
8,NaN,15079.0,308.0,242.0,-1.0,11447.0,3390.0,19.0,408.0,7.0,835264.0,22624.0,61.0,Morocco,131.0,36918704.0,Africa,2448.0,152557.0,44.0
9,NaN,15328.0,249.0,243.0,1.0,11827.0,3258.0,19.0,415.0,7.0,849097.0,22998.0,61.0,Morocco,380.0,36919899.0,Africa,2409.0,151934.0,43.0
10,NaN,15542.0,214.0,245.0,2.0,12065.0,3232.0,19.0,421.0,7.0,864594.0,23417.0,61.0,Morocco,238.0,36921094.0,Africa,2376.0,150698.0,43.0
11,NaN,15745.0,203.0,250.0,5.0,12283.0,3212.0,19.0,426.0,7.0,878626.0,23796.0,61.0,Morocco,218.0,36923484.0,Africa,2345.0,147694.0,42.0
12,NaN,15936.0,191.0,255.0,5.0,12934.0,2747.0,31.0,432.0,7.0,896638.0,24284.0,61.0,Morocco,651.0,36923484.0,Africa,2317.0,144798.0,41.0
13,NaN,16097.0,161.0,257.0,2.0,13442.0,2398.0,31.0,436.0,7.0,915140.0,24784.0,61.0,Morocco,508.0,36924679.0,Africa,2294.0,143676.0,40.0
14,NaN,16262.0,165.0,259.0,2.0,13821.0,2182.0,31.0,440.0,7.0,924695.0,25042.0,61.0,Morocco,379.0,36925874.0,Africa,2271.0,142571.0,40.0

In [7]:
df

,Date,Tot cases,New cases,Tot Deaths,New Deaths,Total Recovered,Active Cases,Serious,Tot C par million,Deaths par million,Total Test,Tot T par million,index,Country,New Recov,population,Continent,col1,col2,col3
0,2020-07-01,12636.0,103.0,228.0,-1.0,9026.0,3382.0,7.0,342.0,6.0,698128.0,18915.0,63.0,Morocco,106.0,36909144.0,Africa,2921.0,161882.0,53.0
1,2020-07-02,12969.0,333.0,229.0,1.0,9090.0,3650.0,7.0,351.0,6.0,715853.0,19394.0,61.0,Morocco,64.0,36910339.0,Africa,2846.0,161181.0,52.0
2,2020-07-03,13288.0,319.0,230.0,1.0,9160.0,3898.0,7.0,360.0,6.0,728366.0,19733.0,61.0,Morocco,70.0,36911534.0,Africa,2778.0,160485.0,51.0
3,2020-07-04,13822.0,534.0,232.0,2.0,9329.0,4261.0,19.0,374.0,6.0,748449.0,20276.0,61.0,Morocco,169.0,36912729.0,Africa,2671.0,159107.0,49.0
4,2020-07-05,14215.0,393.0,235.0,3.0,9725.0,4255.0,19.0,385.0,6.0,765580.0,20740.0,61.0,Morocco,396.0,36913924.0,Africa,2597.0,157081.0,48.0
5,2020-07-06,14379.0,164.0,237.0,2.0,10173.0,3969.0,19.0,390.0,6.0,783639.0,21228.0,61.0,Morocco,448.0,36915119.0,Africa,2567.0,155760.0,47.0
6,2020-07-07,14607.0,228.0,240.0,3.0,10639.0,3728.0,19.0,396.0,7.0,801287.0,21705.0,62.0,Morocco,466.0,36916314.0,Africa,2527.0,153818.0,46.0
7,2020-07-08,14771.0,164.0,242.0,2.0,11316.0,3213.0,19.0,400.0,7.0,819124.0,22188.0,62.0,Morocco,677.0,36917509.0,Africa,2499.0,152552.0,45.0
8,2020-07-09,15079.0,308.0,242.0,-1.0,11447.0,3390.0,19.0,408.0,7.0,835264.0,22624.0,61.0,Morocco,131.0,36918704.0,Africa,2448.0,152557.0,44.0
9,2020-07-10,15328.0,249.0,243.0,1.0,11827.0,3258.0,19.0,415.0,7.0,849097.0,22998.0,61.0,Morocco,380.0,36919899.0,Africa,2409.0,151934.0,43.0
10,2020-07-11,15542.0,214.0,245.0,2.0,12065.0,3232.0,19.0,421.0,7.0,864594.0,23417.0,61.0,Morocco,238.0,36921094.0,Africa,2376.0,150698.0,43.0
11,2020-07-12,15745.0,203.0,250.0,5.0,12283.0,3212.0,19.0,426.0,7.0,878626.0,23796.0,61.0,Morocco,218.0,36923484.0,Africa,2345.0,147694.0,42.0
12,2020-07-13,15936.0,191.0,255.0,5.0,12934.0,2747.0,31.0,432.0,7.0,896638.0,24284.0,61.0,Morocco,651.0,36923484.0,Africa,2317.0,144798.0,41.0
13,2020-07-14,16097.0,161.0,257.0,2.0,13442.0,2398.0,31.0,436.0,7.0,915140.0,24784.0,61.0,Morocco,508.0,36924679.0,Africa,2294.0,143676.0,40.0
14,2020-07-15,16262.0,165.0,259.0,2.0,13821.0,2182.0,31.0,440.0,7.0,924695.0,25042.0,61.0,Morocco,379.0,36925874.0,Africa,2271.0,142571.0,40.0

In [18]:
end > datetime.datetime.strptime("2020-07-30", "%Y-%m-%d")

False

In [28]:
listeDates("2020-06-01",datetime.datetime.today())

['2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-06',
 '2020-06-07',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-13',
 '2020-06-14',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-11',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16']